html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 400px;
  border: 1px solid black;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 10px;
  background-color: blanchedalmond;
}

.titleBox {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid black;
  padding: 10px 10px;
}

.title {
  font-size: 2rem;
  text-align: center;
}

.clear-btn {
  margin-left: auto;
}

.todo-list {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0;
  height: 400px;
  overflow-y: auto;
}

.todo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  border: 1px solid black;
  padding: 10px 10px;
}

.del-todo-btn {
  margin-left: auto;
}

.input {
  padding: 10px;
  border: 1px solid black;
  outline: none;
  background-color: blanchedalmond;
}